Packages/*
!Packages/.robloxrc

rotriever.lock
roblox.toml
/*.rbxl
/*.rbxl.lock
/*.rbxlx
/*.rbxlx.lock
/*.rbxm
/*.rbxmx

.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.idea

**/sourcemap.json
**/node_modules
/build
/roblox
.yarn
